%link-style {
  color: $colorAccent;
  font-weight: $fontBold;
  border-bottom: $borderWidth2 solid rgba($colorAccent, .2);
  transition: border-color .3s ease-in-out;
  text-decoration: none;
  &:hover {
    border-bottom-color: $colorAccent;
  }
}
%border-box {
  border: $borderWidth1 solid $colorBorder;
  box-shadow: 0 1px 1px rgba(#000,.05);
}
