.o-region {
  padding-left: $spacing24;
  padding-right: $spacing24;
  @include break($break2) {
    padding-left: $spacing32;
    padding-right: $spacing32;
  }
  &--light-bg {
    background-color: $colorLightBg;
  }
  &--dark-bg {
    background-color: $colorDarkBg;
  }
}
.o-wrapper {
  max-width: $maxWidth1;
  margin-left: auto;
  margin-right: auto;
  padding-top: $spacing64;
  padding-bottom: $spacing64;
  @include break($break3) {
    padding-top: $spacing96;
    padding-bottom: $spacing96;
  }
  @include break($break4) {
    max-width: $maxWidth2;
  }
}
.o-title,
.o-subtitle {
  font-weight: $fontMedium;
}
.o-title {
  font-size: $text64;
  line-height: 1.125;
  letter-spacing: -.025em;
  @include break($break3) {
    font-size: $text72;
  }
}
.o-subtitle {
  font-size: $text24;
  line-height: 1.25;
  @include break($break3) {
    font-size: $text32;
  }
}
.o-parag {
  font-size: $text16;
  line-height: 1.8;
  @include break($break3) {
    font-size: $text20;
  }
  & + & {
    margin-top: $spacing12;
    @include break($break3) {
      margin-top: $spacing16;
    }
  }
}
.o-inlineb-link {
  display: inline-block;
  & + & {
    margin-left: $spacing24;
  }
}
