// FONTS
$fontTitle: 'Roboto', sans-serif;
$fontLight: 300;
$fontRegular: 400;
$fontBold: 700;
// COLORS
$colorBorderLight: #e9e8e8;
$colorBorderDark: #d2d2d2;
$colorLightBg: #f4f4f4;
$colorDarkBg: #242529;
$colorLightTxt: #b8b8b8;
$colorDarkTxt: #666;
$colorAccent: #448aff;
// BREAKPOINTS
$break: 375px;
$break2: 460px;
$break3: 768px;
$break4: 828px;
// OTHERS
$maxWidth1: 640px;
$maxWidth2: 700px;
