.c-block {
  &__tag {
    font-size: $text14;
    line-height: 1.5;
    font-weight: $fontBold;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: $colorLightTxt;
    @include break($break3) {
      font-size: $text16;
    }
  }
  &__tag + &__unit {
    margin-top: $spacing32;
    @include break($break3) {
      margin-top: $spacing48;
    }
  }
  &__unit {
    & + & {
      margin-top: $spacing32;
      @include break($break3) {
        margin-top: $spacing48;
      }
    }
    &__title {
      color: $colorDarkTxt;
        a {
          color: $colorAccent;
          font-weight: $fontBold;
          text-decoration: none;
          border-bottom: $borderWidth2 solid rgba($colorAccent, .2);
          transition: border-color .3s ease-in-out;
          &:hover {
            border-color: $colorAccent;
          }
        }
    }
    &__time {
      margin-top: $spacing16;
      color: $colorLightTxt;
    }
    &__descrip {
      margin-top: $spacing16;
      @include break($break3) {
        margin-top: $spacing24;
      }
      a {
        text-decoration: none;
        @extend %link-style;
      }
    }
    &__img-group {
      margin-top: $spacing24;
      @include fill-width;
    }
    &__img-frame {
      display: inline-block;
      vertical-align: top;
      margin-top: calcPercent(12, 284);
      width: calcPercent(136, 284);
      background-color: #fff;
      overflow:hidden;
      border-radius: $borderRadius2;
      cursor: pointer;
      @include aspect-ratio(16, 10);
      @extend %border-box;
      &:nth-child(-n+2) {
        margin-top: 0;
      }
      &__video-tag {
        position: absolute;
        right: $spacing12;
        bottom: $spacing12;
        height: $spacing24;
        line-height: $spacing24;
        padding-left: $spacing8;
        padding-right: $spacing8;
        font-size: $text12;
        text-transform: uppercase;
        text-align: center;
        border-radius: $borderRadius4;
        color: #fff;
        letter-spacing: .1em;
        background-color: rgba(#000, .4);
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: $spacing4;
      }
    }
  }
  &__tags-intro {
    margin-top: $spacing32;
    @include break($break3) {
      margin-top: $spacing48;
    }
  }
  &__tags {
    margin-top: $spacing32;
    &__title {
      font-weight: $fontMedium;
    }
    &__group {
      margin: #{$spacing12} -#{$spacing4} -#{$spacing4};
      list-style-type: none;
      li {
        display: inline-block;
        line-height: 2;
        padding-left: $spacing12;
        padding-right: $spacing12;
        margin: $spacing4;
        border-radius: $borderRadius4;
        background-color: #fff;
        font-size: $text16;
        @extend %border-box;
      }
    }
  }
}
