.c-block {
  &__tag {
    font-size: 13px;
    line-height: 16px;
    font-weight: $fontBold;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: $colorLightTxt;
    @include break($break3) {
      font-size: 16px;
    }
  }
  &__tag + &__unit {
    margin-top: 32px;
    @include break($break3) {
      margin-top: 48px;
    }
  }
  &__unit {
    & + & {
      margin-top: 56px;
      @include break($break3) {
        margin-top: 72px;
      }
    }
    &__title {
      color: $colorAccent;
        a {
          color: inherit;
          text-decoration: none;
          border-bottom: 2px solid transparent;
          transition: border-color .3s ease-in-out;
          &::after {
            content: '\00a0\2192';
          }
          &:hover {
            border-color: $colorAccent;
          }
        }
    }
    &__time {
      margin-top: 8px;
      color: $colorLightTxt;
    }
    &__descrip {
      margin-top: 16px;
      @include break($break3) {
        margin-top: 24px;
      }
      ul {
        list-style-position: inside;
      }
      p + ul {
        margin-top: 16px;
      }
      p + p {
        margin-top: 8px;
      }
      a {
        text-decoration: none;
        @extend %link-style;
      }
    }
    &__img-group {
      margin-top: 32px;
      @include fill-width;
      @include break($break3) {
        margin-top: 40px;
      }
    }
    &__img-frame {
      display: inline-block;
      vertical-align: top;
      margin-top: calcPercent(12, 284);
      width: calcPercent(136, 284);
      background-color: #fff;
      overflow:hidden;
      border-radius: 2px;
      cursor: pointer;
      @include aspect-ratio(16, 10);
      @extend %border-box;
      &:nth-child(-n+2) {
        margin-top: 0;
      }
      &__video-tag {
        position: absolute;
        right: 12px;
        bottom: 12px;
        height: 20px;
        line-height: 20px - 2px;
        padding-left: 6px;
        padding-right: 6px;
        font-size: 8px;
        text-transform: uppercase;
        text-align: center;
        border-radius: 4px;
        color: #fff;
        border-width: 1px;
        border-style: solid;
        letter-spacing: 0.1em;
        background-color: rgba(#000, .3);
        box-shadow: 0 1px 0 rgba(#000,.15);
        text-shadow: 0 1px 0 rgba(#000,.15);
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding:4px;
      }
    }
  }
  &__tags-intro {
    margin-top: 32px;
    @include break($break3) {
      margin-top: 48px;
    }
  }
  &__tags {
    margin-top: 32px;
    &__title {
      font-weight: $fontRegular;
    }
    &__group {
      margin: 12px -4px -4px;
      list-style-type: none;
      li {
        display: inline-block;
        line-height: 32px;
        padding-left: 12px;
        padding-right: 12px;
        margin: 4px;
        border-radius: 4px;
        background-color: #fff;
        font-size: 16px;
        @extend %border-box;
      }
    }
  }
}
