.c-header {
  &__name {
    color: $colorLightTxt;
  }
  &__title {
    margin-top: $spacing16;
    color: $colorDarkTxt;
  }
  &__descrip {
    margin-top: $spacing32;
    color: $colorLightTxt;
    &__link-group {
      margin-top: $spacing16;
    }
    &__link {
      @extend %link-style;
    }
  }
}
