.c-section-nav {
  -webkit-transform: translate3d(0,0,0); // Soluciona bug scroll en iOS
  border-top: $borderWidth1 solid $colorBorder;
  border-bottom: $borderWidth1 solid $colorBorder;
  background-color: #fff;
  &__options {
    max-width: $maxWidth1;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    @include break($break4) {
      max-width: $maxWidth2;
    }
    &__item {
      display: inline-block;
      width: (100% / 3);
      padding: $spacing4 ($spacing4 / 2);
      line-height: 40px;
      font-size: $text14;
      font-weight: $fontBold;
      text-align: center;
      @include break($break3) {
        font-size: $text16;
      }
      a {
        display: block;
        text-decoration: none;
        color: inherit;
        border-radius: $borderRadius4;
        &:hover {
          background-color: $colorLightBg;
          color: $colorAccent;
        }
      }
      &--curent { 
        a {
          background-color: $colorLightBg;
          color: $colorAccent;
        }
      }
    }
  }
}
